<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <mat-card>
            <mat-card-content>
                <mat-stepper orientation="vertical" [linear]="true" #stepper>
                    <mat-step [stepControl]="phoneFormGroup">
                      <form [formGroup]="phoneFormGroup" (ngSubmit)="onSubmitPhone()">
                        <ng-template matStepLabel>Ingresa tu teléfono y uno de emergencia</ng-template>
                        
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Teléfono</mat-label>
                                <input type="tel" matInput placeholder="Ex. (33) 3333 3333" formControlName="phoneCtrl" required>
                            </mat-form-field>
                        </div>
                      
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Teléfono de emergencia</mat-label>
                                <input type="tel" matInput placeholder="Ex. (44) 4444 4444" formControlName="emergencyPhoneCtrl" required>
                            </mat-form-field>
                        </div>

                        <div>
                          <button mat-button matStepperNext>Siguiente</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="accountFormGroup">
                      <form [formGroup]="accountFormGroup" (ngSubmit)="onSubmitAccount()">
                        <ng-template matStepLabel>Correo y contraseña</ng-template>

                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="emailCtrl" placeholder="Ex. email@example.com" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Contraseña</mat-label>
                                <input type="password" matInput formControlName="passwordCtrl" placeholder="********" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Repite contraseña</mat-label>
                                <input type="password" matInput formControlName="repeatPasswordCtrl" placeholder="********" required>
                            </mat-form-field>
                        </div>

                        <div>
                          <button mat-button matStepperPrevious>Volver</button>
                          <button mat-button matStepperNext>Siguiente</button>
                        </div>
                      </form>
                    </mat-step>

                    <mat-step [stepControl]="addressFormGroup">
                        <form [formGroup]="addressFormGroup" (ngSubmit)="onSubmitAddress()">
                            <ng-template matStepLabel>Dirección</ng-template>
                            
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Calle</mat-label>
                                    <input type="text" matInput formControlName="streetCtrl" placeholder="Ex. Av. Linda" required>
                                </mat-form-field>
                            </div>
  
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Número</mat-label>
                                    <input type="text" matInput formControlName="numberCtrl" placeholder="Ex. 1234" required>
                                </mat-form-field>
                            </div>
    
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Ciudad</mat-label>
                                    <input type="text" matInput formControlName="cityCtrl" placeholder="Ex. Zapopan" required>
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Estado</mat-label>
                                    <input type="text" matInput formControlName="stateCtrl" placeholder="Ex. Jalisco" required>
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Código postal</mat-label>
                                    <input type="text" matInput formControlName="zipCodeCtrl" placeholder="Ex. 12345" required>
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>País</mat-label>
                                    <input type="text" matInput formControlName="countryCtrl" placeholder="Ex. México" required>
                                </mat-form-field>
                            </div>
  
                          <div>
                            <button mat-button matStepperPrevious>Volver</button>
                            <button mat-button matStepperNext>Siguiente</button>
                          </div>
                        </form>
                      </mat-step>

                    <mat-step>
                      <ng-template matStepLabel>Finalizado</ng-template>
                      <p>Bien has finalizado el formulario de registro.</p>
                      <div>
                        <button mat-button matStepperPrevious>Volver</button>
                        <button mat-button (click)="stepper.reset()">Limpiar formulario</button>
                      </div>
                    </mat-step>
                  </mat-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>
