<div class="page-width" style="margin-top: 100px !important; padding-top: 0px !important;">
    <mat-tab-group>
        <mat-tab label="Hoteles"> Content 1 </mat-tab>
        <mat-tab label="Cuenta">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <div style="width: 100%; height: 100%; padding: 20px 10px 10px 20px;">
                        <mat-card style="width: 100%; height: 100%;">
                            <mat-card-content>
    
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="width: 100%; height: 100%; padding: 20px 20px 10px 10px;">
                        <mat-card style="width: 100%; height: 100%;">
                            <mat-card-content>
    
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="width: 100%; height: 100%; padding: 10px 10px 20px 20px;">
                        <mat-card style="width: 100%; height: 100%;">
                            <mat-card-content>
    
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="width: 100%; height: 100%; padding: 10px 20px 20px 10px;">
                        <mat-card style="width: 100%; height: 100%;">
                            <mat-card-content>
    
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab label="Pago"> Content 3 </mat-tab>
    </mat-tab-group>
</div>
