<div class="sidebar">
    <!-- <div class="logo">
        <img src="assets/imgs/logoHSMA.jpg" alt="" class="logo">
    </div> -->
    <nav>
        <ul>
            <li>
                <div class="title">
                        <img src="assets/imgs/logoHSMA.jpg" alt="" class="logo">
                        <p>HSMA</p>
                </div>
            </li>
            <li>
                <a [routerLink]="['/home']">
                    <fa-icon [icon]="RightBracket"></fa-icon>
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="RightBracket"></fa-icon>
                    <p>Tutorials</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="RightBracket"></fa-icon>
                    <p>Quizzes</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="RightBracket"></fa-icon>
                    <p>Codes</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/login']">
                    <fa-icon [icon]="RightBracket"></fa-icon>
                    <p>Sign in</p>
                </a>
            </li>
        </ul>
    </nav>
</div>
