*,
*:before,
*:after{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2a88e6;
}

ul {
    height: 4.4rem;
    list-style-type: none;
}

.sidebar{
    min-height: 4.4rem;
    max-height: 4.4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EFF1ED;
    /*overflow: hidden;*/
    transition: width 0.2s;
    z-index: 9;
}

.title{
    height: 4.4rem;
    font-family: Playfair;
    font-weight: bold;
    color: #000000;
}

img.logo{
    width: 50px;
    padding: 0 4px;
    margin: 0px 0;
}

li {
    height: 100%;
    cursor: pointer;
}

li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: Playfair;
    color: #000000;
}

li a:hover{
    height: 100%;
    background-image: linear-gradient(
        to right,
        #2a88e6 7px,
        rgba(67, 67, 67, 0.413) 7px
    );
    color: #000000;
}

i{
    font-size: 20px;
    text-align: right;
}

li p{
    font-family: Playfair;
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: 0.3px;
    margin: 0;
}
