<nav class="sidebar d-flex justify-content-between row">
    <div class="col-2 d-flex align-items-center justify-content-center">
        <span class="ps-2 m-0">HSMA</span>
    </div>

    <ul class="col-6 row d-flex align-items-center justify-content-center">
        <li class="col-3">
            <a [routerLink]="['/home']" [routerLinkActive]="['active']">
                <p>Inicio</p>
            </a>
        </li>
        <li class="col-3">
            <a [routerLink]="['/us']" [routerLinkActive]="['active']">
                <p>Nosotros</p>
            </a>
        </li>
        <li class="col-3" *ngIf="id != -1">
            <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
                <p>Tablero</p>
            </a>
        </li>
    </ul>
    
    
    <ul class="col-2">
        <li>
            <a [routerLink]="['/login']" *ngIf="id == -1">
                <p>Acceder</p>
            </a>

            <a [routerLink]="['/login']" *ngIf="id != -1" (click)="logOut()">
                <p>Cerrar sesión</p>
            </a>
        </li>
    </ul>
</nav>
