h1, h5 {
    font-family: 'Source Code Pro', monospace;
    color: #766153;
    font-size: 2rem;
    font-weight: 800;
}

.h1-big {
    font-family: 'Source Code Pro', monospace;
    color: #766153;
    font-size: 3rem;
    font-weight: 800;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: #766153;
}

.mid-img {
    max-height: 60rem;
    border-radius: 40px !important;
    width: 100%;
    object-fit: fill;
}

label {
    font-family: 'Source Code Pro', monospace;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
}

input {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}

span {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: #766153;
}

.custom-container {
    max-width: 700px;
    margin: 0 auto; /* Center the container horizontally */
  }

.form-group {
    margin-bottom: 20px;
  }

.sec-pad {
    padding: 6.25rem;
}

.getstarted-pad {
    padding: 0 6.25rem 0 6.25rem;
}

.gap-qa {
    padding: 6.25rem 0 0 0;
}

.gap {
    padding-top: 3.75rem;
}

.gap-text {
    padding: 0 4rem 0 4rem;
}

.gap-img {
    margin: 1.5rem 0 0 0;
}

.full-radius {
    border-radius: 40px !important;
}

.ul-radius {
    border-radius: 1rem 3rem 3rem 3rem;
}

.ur-radius {
    border-radius: 3rem 1rem 3rem 3rem;
}