h1 {
    font-family: Elsie;
    color: #766153;
    font-size: 2rem;
    font-weight: 800;
}

span {
    font-family: Playfair;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: #766153;
}

.car-h {
    padding: 6.25rem;
}

.gap {
    padding-top: 3.75rem;
}

.gap-text {
    padding: 0 4rem 0 4rem;
}

.full-radius {
    border-radius: 40px;
}

.ul-radius {
    border-radius: 1rem 3rem 3rem 3rem;
}

.ur-radius {
    border-radius: 3rem 1rem 3rem 3rem;
}