feMergeNode.head-text{font-family: 'Laila', sans-serif; color: white; font-size: 2.5rem;}

.text{ font-family: 'Rancho', cursive; color: white; font-size: 2.5rem;}

.login-text{font-family: 'Rancho', cursive; color: white; font-size: 1.5rem;}

p {color: #b3b3b3;font-weight: 300;}

.logo{ text-align: center;margin:8vh 0vh;}
  
a {-webkit-transition: .3s all ease; -o-transition: .3s all ease; transition: .3s all ease; }

a:hover {text-decoration: none !important; }

.card-blur{background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 #0000002c;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width:70% ;
  height: AUTO;
    /* centrar vertical y horizontalmente */  
  margin-top: 20vh;
  margin-left: 9vh;
  padding: 20px; 
}

.button.off{
  width: 100%;
  color: rgba(49,69,106,0.35);
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,.15),
    -6px -6px 10px -1px rgba(255,255,255,.7); 
  border: 1px solid rgba(0,0,0,0.0);
  animation: clicked .2s ease;
}

.button.on{
  width: 100%;
  color: rgb(49, 61, 106);
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,.15),
    -6px -6px 10px -1px rgba(255,255,255,.7); 
  border: 1px solid rgba(0,0,0,0.0);
  animation: clicked .2s ease;
}
.button.on:hover{
  border: 1px solid rgba(0,0,0,0.0);
  box-shadow: inset 4px 4px 6px -1px rgba(49,69,106,0.2),
    inset -4px -4px 6px 1px rgba(255,255,255, .7),
    -0.5px -0.5px 0 rgba(255,255,255,1),
    0.5px 0.5px 0 rgba(0,0,0,.15),
    0px 12px 120px -10px rgba(0,0,0,0.05);
  animation: clickedIn .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.letras{font-size:10px;text-align: right; margin:3px 0px;  color: rgb(49, 61, 106); text-decoration:none;}

.outer-container{margin: 5px;}

.content {padding: 7rem 0; }
  
h2 {font-size: 20px; }

.half, .half .container > .row {height: 100vh; }
  
@media (max-width: 991.98px) {.half .bg {height: auto; } .mago{display: none;}.card-blur{margin: 20vh 15%;} }
  
.half .contents, .half .bg { width: 50%; }

@media (max-width: 1199.98px) {
  
  .half .contents, .half .bg {width: 100%; } }
  .half .contents .form-group, .half .bg .form-group {
    margin-bottom: 0;
    border: 1px solid #efefef;
    padding: 8px 15px;
    border-bottom: none; }
  
  .half .contents .form-group.first, .half .bg .form-group.first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }
  
  .half .contents .form-group.last, .half .bg .form-group.last {
    border-bottom: 1px solid #efefef;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; }
  
  .half .contents .form-group label, .half .bg .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3; }
  
  .half .contents .form-control, .half .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0; }
  
  .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  .half .bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
@media (max-width: 470px) {
  .half .bg {background-size: contain;}
  }

.half a {
  color: #888;
  text-decoration: underline; }
  
.half .btn {
  height: 34px;
  padding-left: 25px;
  padding-right: 25px; }
  
.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }
  
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }

.control .caption {
  position: relative;
  top: .2rem;
  color: #888; }
  
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }
  
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }
  
.control--radio .control__indicator {border-radius: 50%;}
  
.control:hover input ~ .control__indicator, .control input:focus ~ .control__indicator {background: #ccc;}
  
.control input:checked ~ .control__indicator {background: #007bff;}
  
.control:hover input:not([disabled]):checked ~ .control__indicator, .control input:checked:focus ~ .control__indicator {background: #1a88ff; }
  
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }
 
.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  
.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }
  
.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
 
.control--checkbox input:disabled ~ .control__indicator:after {border-color: #7b7b7b; }
  
.control--checkbox input:disabled:checked ~ .control__indicator {background-color: #7e0cf5; opacity: .2;}
  