<head>
    <link href="https://fonts.googleapis.com/css2?family=Amita&family=Laila&family=Poppins&family=Rancho&family=Rye&family=Vollkorn&family=Yatra+One&display=swap" rel="stylesheet">
</head>
<div class="d-lg-flex half">
    <div class="contents order-2 order-md-1 mago" >
        <div class="">
            <div class="col-auto head-text ps-0">SystemMHMA</div>
            
            <div class="col-auto text p-0">la mejor opcion para tus huespedes</div>
               <!-- <ul>
                    <li class="text" *ngFor="let item of items; let i = index">
                        Name: {{item.name}}
                    </li>
                    <li class="text" *ngFor="let item of items; let i = index">
                        Room: {{item.room}}
                    </li>
                </ul>-->
        </div> 
    </div>
 
    <div class="bg order-1 order-md-2" >
        <div class="card-blur">
            <div class="logo">
                <img  src="https://solucionesevans.com/images/logo-evans.png" alt="">
            </div>
            
            <form class="row px-2">
            
                    <label for="user">Usuario</label>
                    <input type="email" id="user" class="form-control shadow p-3 mb-1 bg-body rounded" style="height:10px" formControlName="user">
            
                    <label for="passwd">Contraseña</label>
                    <input type="password" id="passwd" class="form-control shadow p-3 mb-1 bg-body rounded" style="height:10px" formControlName="passwd">
            
              <br><br>
                    <div class="outer-container">
                        <span class=" btn button on"type="submit" (click)="info()" routerLink="/home"> login</span>
                    </div>

                    <span class="letras"><small><u>Olvide mi contraseña</u></small></span>
            
            </form> 
        </div>
    </div>

</div>
