.head-text{
    font-family: 'Laila', sans-serif;
    color: white;
    font-size: 2.5rem;
}

.text{
    font-family: 'Rancho', cursive;
    color: white;
    font-size: 2.5rem;
}

.login-text{
    font-family: 'Rancho', cursive;
    color: white;
    font-size: 1.5rem;
}
.button.on:hover{
  border: 1px solid rgba(0,0,0,0.0);
  box-shadow: inset 4px 4px 6px -1px rgba(49,69,106,0.2),
    inset -4px -4px 6px 1px rgba(255,255,255, .7),
    -0.5px -0.5px 0 rgba(255,255,255,1),
    0.5px 0.5px 0 rgba(0,0,0,.15),
    0px 12px 120px -10px rgba(0,0,0,0.05);
  animation: clickedIn .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.little-margin{
    margin-top: 5rem;
}

.box-shadow {
    margin-top: 3rem;
    padding: 5px;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 20px #11005f;
}

.box-shadow-space {
    margin-top: 12rem;
    padding: 5px;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 20px #11005f;
}

.btn-hover :hover{
    color: rgb(40, 235, 183);
    cursor: pointer;
}