<div class="page-width footer-section py-3 ms-5">
    <div class="row w-100">
        <div class="col">
            <fa-icon [icon]="twitter"></fa-icon>
            <p class="m-0">footer works</p>
        </div>

        <div class="col">
            <fa-icon [icon]="twitter"></fa-icon>
            <p class="m-0">footer works</p>
        </div>

        <div class="col">
            <fa-icon [icon]="twitter"></fa-icon>
            <p class="m-0">footer works</p>
        </div>

        <div class="col">
            <p class="m-0">Telefono: 3333335544</p>
            <p class="m-0">Correo: hola@empresa.com</p>
        </div>
    </div>
</div>
