<div class="footer-section ps-3 py-3">
    <div class="row w-100">
        <div class="col-md-3 col-sm-6 px-2 d-flex justify-content-center">
            <fa-icon [icon]="twitter"></fa-icon>
            <p class="m-0">footer works</p>
        </div>

        <div class="col-md-3 col-sm-6 px-2 d-flex justify-content-center">
            <fa-icon [icon]="twitter"></fa-icon>
            <p class="m-0">footer works</p>
        </div>

        <div class="col-md-3 col-sm-6 px-2 d-flex justify-content-center">
            <fa-icon [icon]="twitter"></fa-icon>
            <p class="m-0">footer works</p>
        </div>

        <div class="col-md-3 col-sm-6 px-2 d-flex justify-content-center">
            <p class="m-0">Telefono: 3333335544</p>
            <p class="m-0">Correo: hola@empresa.com</p>
        </div>
    </div>
</div>
