
/* .backg{background: url('back.jpg'); background-repeat: no-repeat;background-size: cover;} */

.logo-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem !important;
    font-weight: 600;
}

.title-text {
    font-family: 'Roboto', sans-serif;    
    font-weight: 900;
    /* font-family: 'Aileron', sans-serif; */
}

.normal-text {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.1rem !important;
    font-weight: 600;
}

.img-size {
    max-height: 45rem;
}

.page-width {
    padding-top: 4.4rem !important;
}

.sections-light {
    min-height: 25rem;
    background-color: #F2EEE9;
    color: dark;
}

.sections-dark {
    min-height: 25rem;
    background-color: #222629;
    color: white;
}

.sections-img {
    max-height: 12rem;
}

.footer-section {
    max-height: 13rem;
    background-color: #222629;
    color: white;
}
