
/* .backg{background: url('back.jpg'); background-repeat: no-repeat;background-size: cover;} */

@font-face {
    font-family: 'Elsie';
    src: url('./assets/fonts/Elsie-Regular.ttf');
}

@font-face {
    font-family: 'Playfair';
    src: url('./assets/fonts/Playfair_144pt-Regular.ttf');
}

.bg-grey {
    background-color: #EEEEEE;
}

.img-size {
    max-height: 45rem;
}

.page-width {
    padding-top: 4.4rem !important;
}

.sections {
    min-height: 25rem;
    background-color: #EFF1ED;
    color: dark;
}

.sections-img {
    max-height: 30rem;
    width: 100%;
    text-wrap: wrap;
}

.footer-section {
    max-height: 13rem;
    background-color: #EFF1ED;
    color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
