h1, h5 {
    font-family: 'Source Code Pro', monospace;
    color: #766153;
    font-size: 2rem;
    font-weight: 800;
}

.h1-big {
    font-family: 'Source Code Pro', monospace;
    color: #766153;
    font-size: 3rem;
    font-weight: 800;
}

.mid-img {
    max-height: 60rem;
    border-radius: 40px !important;
    width: 100%;
    object-fit: fill;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: #766153;
}

.img-container {
    margin: 20px 0;
    text-align: center;
}

.circular-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 0 30px;
}

span {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    color: #766153;
}

.sec-pad {
    padding: 6.25rem;
}

.getstarted-pad {
    padding: 0 6.25rem 0 6.25rem;
}

.gap-qa {
    padding: 6.25rem 0 0 0;
}

.gap {
    padding-top: 3.75rem;
}

.gap-text {
    padding: 0 4rem 0 4rem;
}

.gap-img {
    margin: 1.5rem 0 0 0;
}

.full-radius {
    border-radius: 40px !important;
}

.ul-radius {
    border-radius: 1rem 3rem 3rem 3rem;
}

.ur-radius {
    border-radius: 3rem 1rem 3rem 3rem;
}

.card {
    min-width: 22.125rem;
    max-width: 22.125rem;
    border-radius: 5px;
    display: inline-block;
}

.card-group {
    overflow-x: scroll;
}

.card-overflow {
    overflow-x: scroll;
}

.img-card {
    max-height: 18.75rem;
}

.icon {
    font-size: 2rem;
    color: rgb(40, 40, 40);
}